<div class="container">
  <div class="search-field-container">
    <amsui-search-field
      [config]="searchFieldConfig"
      (searchEvent)="handleSearchEvent($event)"
    ></amsui-search-field>
  </div>
  <mat-drawer-container cdk-overlay-origin [hasBackdrop]="isMobile || isTablet">
    <mat-drawer
      #facetDrawer
      [mode]="isMobile || isTablet ? 'over' : 'side'"
      [opened]="!isMobile || isTablet"
      position="start"
    >
      <div class="inside-close-filter" *ngIf="isMobile || isTablet">
        <button (click)="facetDrawer.toggle()" mat-raised-button>
          {{ "app.closeFilterMenu" | translate }}
        </button>
      </div>
      <amsui-facet-group
        [facets]="(facets$ | async)!"
        (facetSelectedEvent)="facetChanged($event)"
        (resetFacetsEvent)="resetSelectedFacets()"
      ></amsui-facet-group>
    </mat-drawer>
    <mat-drawer-content>
      <div class="search-result-story">
        <button
          [matBadge]="getBadgeNumber()"
          [matBadgeHidden]="getBadgeNumber() === 0 || facetDrawer.opened"
          (click)="facetDrawer.toggle()"
          [matTooltip]="
            (facetDrawer.opened ? 'app.closeFilterMenu' : 'app.openFilterMenu')
              | translate
          "
          matBadgePosition="after"
          matBadgeColor="primary"
          class="filter-drawer-button"
          mat-icon-button
        >
          <mat-icon *ngIf="facetDrawer.opened; else closed">close</mat-icon>
          <ng-template #closed><mat-icon>filter_alt</mat-icon></ng-template>
        </button>
      </div>
      <amsui-search-results-wrapper
        [searchResultMeta]="(searchResultMeta$ | async)!"
        [searchResults]="(results$ | async)!"
        [resultViewConfig]="resultViewConfig"
        [noResultsConfig]="noResultsConfig"
        (didYouMeanEvent)="didYouMeanSearch($event)"
        (loadMoreEvent)="handleLoadMore()"
        (filterChangedEvent)="handleFilterChange($event)"
        (resultActionClicked)="onResultEntryClicked($event)"
      ></amsui-search-results-wrapper>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
